.header {
  height: 150px;
  color: white;
  width: 100%;
}

/*NAVBAR*/
.navbar-web{
  visibility:hidden;
}
.navbar-dev{
  visibility:visible;
}

li a {
  display: block;
  color: white;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  padding: 15px 20px ;
  width: inherit;
}

@media screen and (min-width: 480px){
  .navbar-web{
    visibility:visible;
  }
  .navbar-dev{
    visibility:hidden;
  }
  .navbar{
    background-color: #005;
    padding-left: 0px;
    border-radius:0;
    margin-left: 0;
  }
  li a {
    padding: 15px 10px;
  }
}

@media screen and (min-width: 780px){
  .navbar-web{
    visibility:visible;
  }
  .navbar-dev{
    visibility:hidden;
  }
  .navbar  {
    background-color: #005;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
    margin-left: 30%;
  }
  li a {
    padding: 15px 17px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}



li a:hover{
  background-color: #111;
}

/*HEAD*/
.head img {
  display:inline-block;
  float:left;

  margin: 0 auto 0 auto;
}
.head-logo{
  width:100%;
}

.head{
  margin-left: 0;
  height:80px;
  margin: 0 auto 0 auto;
}
.fb {
  display:inline-block;
  float:left;
  height: 30px;
  position: relative;
  top: 10%;
  left: 5%;
}
.ig {
  display:inline-block;
  float:left;
  height: 30px;
  position: relative;
  top: 10%;
  left: 8%;
}
@media screen and (min-width:480px){
  .head-logo{
    width:inherit;
  }
  .head img {
    display:inline-block;
    float:left;
  }
  .head{
    margin-left: 5%;
    height:80px;
  }
  .fb {
    display:inline-block;
    float:right;
    height: 30px;
    position: static;
    margin-top: 79px;
    margin-right: 10%;
  }
  .ig {
    display:inline-block;
    float:right;
    height: 30px;
    position: static;
    margin-top: 79px;
    margin-right: 1%;
  }
}


/*NAVMOBILE*/
/* Position and sizing of burger button */
.bm-burger-button {
  position:relative;
  width: 36px;
  height: 30px;
  left: 85%;
  top: 20%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #005;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: #005;
  padding: 1.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
