.header {
  height: 150px;
  color: white;
  width: 100%;
}

.navbar  {
  background-color: #005;
  padding-left: 10px;
  border-radius: 10px 0 0 10px;
  margin-left: 30%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 15px 20px;
  text-decoration: none;
}

li a:hover{
  background-color: #111;
}

.head{
  margin-left: 5%;
  height:80px;
}

.head img {
  display:inline-block;
  float:left;
}

.fb {
  display:inline-block;
  float:right;
  height: 100%;

  margin-right: 10%;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position:relative;
  width: 36px;
  height: 30px;
  left: 70%;
  top: 20%;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #005;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: #005;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
