body {
  margin: 0;
  padding: 0;
  width:100%;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.sbtn {
  font-family:

}
.sbtn:hover{
  background-color: #666;
}

.content {
  font-size: large;
}

.container{
  width: 90%;
  margin: 0 auto;
  background-color: white;
}
